@use '../styles/variables' as *;

$modalColor: #1f1f1f;

.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  display: grid;
  place-items: center;
  background-color: rgba(15, 15, 15, 0.7);
}

.modal {
  border-radius: 10px;
  text-align: center;
  background-color: $modalColor;
  word-break: break-all;
  padding: 20px;

  &__content {
    display: block;
  }

  &__input {
    display: grid;
    justify-content: center;
    margin-bottom: 15px;
  }

  &__field-label {
    font-family: $appFont;
    color: $textColor;
    font-size: smaller;
    font-weight: 600;
    text-align: start;
    display: block;
    margin-bottom: 5px;
  }

  &__hour-input {
    grid-column: 1;
    font-size: xx-large;
    text-align: center;
    width: 2ch;
  }

  &__hour-separator {
    grid-column: 2;
    color: $textColor;
    width: 1ch;
    font-size: xx-large;
  }

  &__minute-input {
    grid-column: 3;
    font-size: xx-large;
    text-align: center;
    width: 2ch;
  }

  &__label-input {
    font-size: medium;
    line-height: 25px;
  }

  &__footer {
    margin-top: 10px;
  }
}

.delete {
  margin-top: 10px;
  display: block;
  color: red;
  font-family: Arial;
  font-size: 0.9em;
  font-weight: 700;
  cursor: pointer;
}

.button-valid {
  background-color: $primaryColor;

  &:hover {
    background-color: #1896ea;
  }

  &:focus {
    box-shadow: rgb(15 96 149 / 40%) 0 0 0 2px;
  }

  &:disabled {
    background-color: #59bdff;
  }

  &:active {
    background-color: #1581c7;
  }
}

.button-cancel {
  background-color: $modalColor;
  margin-left: 7px;

  &:hover {
    background-color: #252525;
  }

  &:focus {
    box-shadow: rgb(15 96 149 / 40%) 0 0 0 2px;
  }

  &:active {
    background-color: #3f3f3f;
  }
}

button {
  appearance: none;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: $textColor;
  cursor: pointer;
  display: inline-block;
  font-family: $appFont;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  padding: 6px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;

  &:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }

  &:hover {
    transition: 0.2s;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }

  &:active {
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }
}

input {
  background-color: $appThemeColor;
  border: none;
  color: $textColor;
  outline: none;
  border-radius: 5px;
  padding: 0 5px;
}

input:focus {
  border-bottom: 2px solid $primaryColor;
}

input::placeholder {
  opacity: 0.25;
  color: $textColor;
}

h3 {
  margin-top: 0;
  color: $textColor;
  font-family: $appFont;
}