body {
  background-color: black;
}

.main-page {
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 35px auto;
}

.main-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 0;
}

.main-page__header h3 {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  color: #eee; /* TODO: Set Variable */
}

.main-page__header button {
  border: none;
  background: none;
  outline: none;

  font-size: 30px;
  color: #1aa4ff; /* TODO: Set Variable */
  cursor: pointer;
}

.alarms-holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  box-sizing: border-box;
  padding: 0;
}

.alarm-item {
  padding: 15px 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 90px;
  border-bottom: 1px solid #26262a;
  padding-left: 10px;
}

.alarm-item__time {
  font-size: 40px;
  color: #eee; /* TODO: Set Variable */
  font-family: Arial, Helvetica, sans-serif;
  grid-row: 1;
}

.alarm-item__label {
  margin: 2px 0;
  color: #eee; /* TODO: Set Variable */
  font-family: Arial, Helvetica, sans-serif;
  grid-row: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.alarm-item__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}